<div>
    <div class="heading">
        Bill Payment
    </div>

    <div class="mainContent">

        <div>
            <label>Customer Reg.No:</label><br/>
            <label>Name:</label>
        </div>
        <form>
            <div>
                <button>Elife</button>
                <button>DEWA</button>
                <button>SEWA</button>
            </div>


            <div>
                <div class="form-group">
                    <label for="AccountNo">AccountNo.</label>
                    <input type="text" class="form-control" id="accountNo" placeholder="Enter Account No.">
                </div>

                <div class="form-group">
                    <label for="Amount">AccountNo.</label>
                    <input type="text" class="form-control" id="amount" placeholder="Enter Amount">
                </div>
            </div>
            <div>
                    <a class="btn btn-primary" routerLink="/searchcustomer">BACK</a>
                    <button type="submit" class="btn btn-primary payButton" routerLink="/billpaymentsuccess">PAY</button>
            </div>

        </form>

    </div>
</div>

