<div class="heading">
    Register Customer
</div>
<div class="mainContent">
    <form>
        <div class="form-group">
          <label for="inputCustomerName">Customer Name</label>
          <input type="text" class="form-control" id="customerNameField" placeholder="Customer Full Name">
        </div>
        <div class="form-group">
            <label for="inputEmailID">Email</label>
            <input type="email" class="form-control" id="emailField"  placeholder="Customer Email Address">
          </div>
        <div class="form-check">
            <label for="inputMobileNumber">Mobile</label>
            <input type="text" class="form-control" id="mobileNumberFiled" placeholder="Customer Mobile No.">
        </div>
        <a class="btn btn-primary" routerLink="/accountmanagement">BACK</a>
        <button type="submit" class="btn btn-primary saveButton">Save</button>
      </form>
</div>
