<div class="heading">
Search Customer
</div>
<div class="mainContent">
    <form>
        <div class="form-group">
          <label for="inputCustomerRegNo">Customer Reg.No.</label>
          <input type="text" class="form-control" id="customerRegNo" placeholder="Enter Customer Reg. No.">
        </div>
        <a class="btn btn-primary" routerLink="/accountmanagement">BACK</a>
        <button type="submit" class="btn btn-primary" routerLink="{{componentRouterLink}}">SEARCH</button>
      </form>
</div>
